language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

install:
    pip install -r requirements.txt

script:
    coverage run --source=duedil setup.py test

after_success:
    codecov

notifications:
  email: false
  slack: f4s:u17h2Cc7RhhHNtypnAu7jbgY

deploy:
  provider: pypi
  user: Bruno.Alla
  password:
    secure: LZvIAhq8BCq9rWDD6NLbTQIXlUt3OReQ1x2DX2RePXi5X7DRGbwTgRYkZ4ZTJlWhqiw3/VwMSQlLnZ4UMn1FmjBgUWOVpkcnIvavt3xSAoLJf9+8x5wkx9K/twCU/4o3xFYMXm6vk3cNSDoJl52nm2/6vY2e5NQqyz1t65EfsAX1FxG62+H+ldUglyIVS+sqIybKwVT5mrJYp9Sz1n8vX9pm2PgLyeUqg63lsj5xHqsqXI3tb1hPloHBlIP6gLnq1QlHEU/4Rqvv98zUbH6dHjCEDoxdiQxrsbmvAblzj18F4nSZ+kz9K4uLYRIMJ9lRNtnd1BpQxw1XctV191klKaHpcl+g0UP36oo+psb3c9Kh2MZ0G0uJTHRzlKEqG596f3TeHD3KkB/4PVD4vXMjMNYpHtB9nevUo7pgI2daA/aAnGcvr3WVo2K4ppm8/B1v2nx3zWbcxDuYwTL1hePSt9gljqMmKFD7R+uDvIQmBECJxxq8VLxVfWYjAyToFbqinEJqNXeX9SyAogzo+a8gVb29t68jPE5RrD0AVWTXgvBQhs/2qNsidVpS0gur9001D7Acx8ra27YfrkmAZsr5RaAzBENtbrChcsoneDLjKsMFY/81l5RyJhLmkcfDFCkinpWwBaFZjlEcft13N91wO4b+6yFHYhZrUzkJMh11cXU=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: founders4schools/duedilv3
    branch: master
    python: 3.5